html, body, div, ol, li, i, a, header, nav, p, h1, button, section{
    margin: 0;
    padding: 0;
}

body {
    width: 100%;
    font-size: 18px;
    font-family: 'Lato', sans-serif;
}

.wrapper {
    max-width: 1170px;
    margin: 0 auto;
    padding: 0 15px;
    height: 22px;
    width: 1140px;
}

.social-media {
    list-style-type: none;
    text-align: right;
}

.social-media li {
    display: inline-block;
    padding: 0 10px;

}

.social-media li a {
    color: #D3D3D3;
    font-size: 18px;
}

.social-networks {
    margin-top: 32px;
}

.social-media .facebook:hover a {
    color: #428bca;
}

.social-media .tweeter:hover a {
    color: #428bca;
}

.social-media .google:hover a {
    color: #C03035;
}

.social-media .dribble:hover a {
    color: #C03035;
}

.social-media .linkedin:hover a {
    color: #0A00D1;
}

.menu-items {
    list-style-type: none;
    text-align: right;
}

.menu-items li a {
    text-decoration: none;
    font-size: 11px;
    text-transform: uppercase;
    color: #000;
}

.menu-items .home-item a {
    color: #00aeef;
}

.menu-items .search-item a {
    color: #00aeef;
    font-size: 14px;
}

.menu-items li {
    display: inline-block;
    margin-left: 35px;
    position: relative;
    padding-bottom: 20px;
}

.dropdown-menu {
    position: relative;
    top: -50px;
    right: 10px;
}

.sub-menu {
    padding: 5px 0;
    font-size: 13px;
    display: block;
    text-transform: capitalize;
    color: #D3D3D3;
    position: absolute;
    width: 242px;
    padding-right: 0px;
    left: -20px;
    top: 40px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.sub-menu {
    padding: 20px 0 20px 0;
    margin-left: 0px;
    border: 1px solid #00AEEF;
    display: none;
    text-align: left;
}

.sub-menu li {
    padding-bottom: 0px;
}

.home-item:hover .sub-menu {
    display: block;
}

.pages-sub-item li {
    display: block;
    font-size: 13px;
    display: block;
    text-transform: capitalize;
    color: #D3D3D3;
}

.pages-sub-item {
    border: 1px solid #00AEEF;
    padding-right: 30px;
    padding-top: 20px;
    position: absolute;
    width: 170px;
    top: 40px;
    left: -36px;
    display: none;
    text-align: left;
}

.pages-item:hover .pages-sub-item {
    display: block;
}

.blog-sub-item li {
    display: block;
    font-size: 13px;
    display: block;
    text-transform: capitalize;
    color: #D3D3D3;
}

.blog-sub-item {
    border: 1px solid #00AEEF;
    padding-right: 30px;
    padding-top: 20px;
    position: absolute;
    width: 191px;
    text-align: left;
    top: 40px;
    left: -35px;
    display: none;
}

.blog-item:hover .blog-sub-item {
    display: block;
}

.folio-sub-item li {
    display: block;
    font-size: 13px;
    display: block;
    text-transform: capitalize;
    color: #D3D3D3;
}

.folio-sub-item {
    border: 1px solid #00AEEF;
    padding-right: 110px;
    padding-top: 20px;
    position: absolute;
    padding-right: 30px;
    width: 191px;
    text-align: left;
    top: 40px;
    left: -35px;
    display: none;
}

.portfolio-item:hover .folio-sub-item {
    display: block;
}

.search-item a i {
    padding-bottom: 30px;
}

input {
    padding-left: 10px;
    height: 40px;
    font-size: 18px;
    color: #818285;
    display: block;
    border: 1px solid #00aeef;
    border-radius: 3px;
    width: 175px;
    position: absolute;
    top: 50px;
    left: -170px;
    display: none;
}

.search-item:hover input {
    display: block;
}

.topic {
    margin: 0 auto;
    max-width: 1170px;
    height: 450px;
    /*position: relative;
    top: 185px;*/
}

.row {
    width: 100%;
    position: relative;
    top: 275px;
}

