html, body, div, ol, li, i, a, header, nav, p, h2, button, section, h3, h4, footer, blockquote {
    margin: 0;
    padding: 0;
}

body {
    width: 100%;
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    font-size: 14px;
    line-height: 22px;
    color: #000;
}

.wrapper {
    max-width: 1170px;
    margin: 0 auto;
    padding: 0 15px;
    height: 22px;
    width: 1140px;
}

.social-media {
    list-style-type: none;
    text-align: right;
}

.social-media li {
    display: inline-block;
    padding: 0 10px;

}

.social-media li a {
    color: #D3D3D3;
    font-size: 18px;
}

.social-networks {
    margin-top: 32px;
}

.social-media .facebook:hover a {
    color: #428bca;
    cursor: pointer;
}

.social-media .tweeter:hover a {
    color: #428bca;
    cursor: pointer;
}

.social-media .google:hover a {
    color: #C03035;
    cursor: pointer;
}

.social-media .dribble:hover a {
    color: #C03035;
    cursor: pointer;
}

.social-media .linkedin:hover a {
    color: #0A00D1;
    cursor: pointer;
}

.menu-items {
    list-style-type: none;
    text-align: right;
}

.menu-items li a {
    text-decoration: none;
    font-size: 11px;
    text-transform: uppercase;
    color: #000;
}

.menu-items .home-item a {
    color: #00aeef;
}

.menu-items .search-item a {
    color: #00aeef;
    font-size: 14px;
}

.menu-items li {
    display: inline-block;
    margin-left: 35px;
    position: relative;
    padding-bottom: 20px;
}

.dropdown-menu {
    position: relative;
    top: -50px;
    right: 10px;
}

.sub-menu {
    padding: 5px 0;
    font-size: 13px;
    display: block;
    text-transform: capitalize;
    color: #D3D3D3;
    position: absolute;
    width: 242px;
    padding-right: 0px;
    left: -20px;
    top: 40px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.sub-menu {
    padding: 20px 0 20px 0;
    margin-left: 0px;
    border: 1px solid #00AEEF;
    display: none;
    text-align: left;
}

.sub-menu li {
    padding-bottom: 0px;
}

.home-item:hover .sub-menu {
    display: block;
}

.pages-sub-item li {
    display: block;
    font-size: 13px;
    display: block;
    text-transform: capitalize;
    color: #D3D3D3;
}

.pages-sub-item {
    border: 1px solid #00AEEF;
    padding-right: 30px;
    padding-top: 20px;
    position: absolute;
    width: 170px;
    top: 40px;
    left: -36px;
    display: none;
    text-align: left;
}

.pages-item:hover .pages-sub-item {
    display: block;
    z-index: 99999;
    background-color: #fff;
    cursor: pointer;
}

.blog-sub-item li {
    display: block;
    font-size: 13px;
    display: block;
    text-transform: capitalize;
    color: #D3D3D3;
}

.blog-sub-item {
    border: 1px solid #00AEEF;
    padding-right: 30px;
    padding-top: 20px;
    position: absolute;
    width: 191px;
    text-align: left;
    top: 40px;
    left: -35px;
    display: none;
}

.blog-item:hover .blog-sub-item {
    display: block;
    z-index: 99999;
    background-color: #fff;
    cursor: pointer;
}

.folio-sub-item li {
    display: block;
    font-size: 13px;
    display: block;
    text-transform: capitalize;
    color: #D3D3D3;
}

.folio-sub-item {
    border: 1px solid #00AEEF;
    padding-right: 110px;
    padding-top: 20px;
    position: absolute;
    padding-right: 30px;
    width: 191px;
    text-align: left;
    top: 40px;
    left: -35px;
    display: none;
}

.portfolio-item:hover .folio-sub-item {
    display: block;
    z-index: 99999;
    background-color: #fff;
    cursor: pointer;
}

.search-item a i {
    padding-bottom: 30px;
}

input {
    padding-left: 10px;
    height: 40px;
    font-size: 18px;
    color: #818285;
    display: block;
    border: 1px solid #00aeef;
    border-radius: 3px;
    width: 175px;
    position: absolute;
    top: 50px;
    left: -170px;
    display: none;
}

.search-item:hover input {
    display: block;
}

.topic {
    margin: 0 auto;
    max-width: 1170px;
    height: 450px;
    margin-bottom: -150px;
}

.row {
    width: 100%;
    margin-top: 295px;
}

h2 {
    color: #8B8B8B;
    font-size: 36px;
    font-weight: normal;
    position: relative;
}

.basic-info p {
    color: #8B8B8B;
    margin-bottom: 10px;
    margin-top: 35px;
    font-size: 14px;
    line-height: 22px;
    min-width: 450px;
}

.sign-btn, .tour-btn {
    width: 105px;
    height: 40px;
    margin-top: 20px;
    border: 1px solid #0099ae;
    border-radius: 3px;
    background: transparent;
    text-transform: uppercase;
    color: #0099ae;
}

.tour-btn {
    width: 150px;
    display: inline-block;
    margin-left: 245px;
    margin-top: 10px;
}

.wrapper h2 {
    display: inline-block;
}

.wrapper {
    position: relative;
}

.sign-btn:hover, .tour-btn {
    border-color: #01707f;
    cursor: pointer;
}

.hill-image {
    display: inline-block;
    position: absolute;
    top: 253px;
    left: 636px;
    bottom: 141px;
}

.responsive {
    width: 375px;
    height: 237px;
    display: inline-block;
    text-align: center;
}

h3 {
    margin-top: 40px;
    margin-bottom: 22px;
    font-size: 24px;
    color: #686868;
}

.responsive p {
    font-size: 14px;
    line-height: 22px;
    color: #000;
}

.typography {
    display: inline-block;
}

.triangle-template {
    width: 100%;
    height: 157px;
    padding-top: 50px;
}

.bike-image {
    display: inline-block;
    position: absolute;
    bottom: -89px
}


.text-right-title, .text-left-title {
    margin-bottom: 15px;
    font-size: 24px;
    color: #686868;
    font-weight: 300;
}

.about-text-right > p {
    margin: 0 0 10px;
}

.frog-image, .karate-image, .robot-image {
    display: inline-block;
}

.about-text-right, .about-text-left {
    display: inline-block;
    vertical-align: top;
    margin-top: 80px;
    margin-left: 30px;
}

.about-text-left {
    margin-left: 0;
    text-align: right;
    margin-right: 40px;
}

.features-row {
    margin-bottom: 260px;
}

.happy-clients-title {
    color: #404040;
    font-weight: 300;
    font-size: 36px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.image-row > .wrapper {
    text-align: center;
}

.wheel-image {
    display: inline-block;
}


.first-client-logo, 
.second-client-logo,
.third-client-logo,
.fourth-client-logo,
.fifth-client-logo,
.sixth-client-logo {
    display: inline-block;
    margin-right: 68px;
    cursor: pointer;
}

.clients-list{
    text-align: center;
}

.sixth-client-logo {
    margin-right: 0px;
}

.clients-logos {
    margin-top: 350px;
}

.drops-image {
    margin-top: 50px;
    text-align: center;
}

footer {
    background-position: bottom;
    background-size: contain;
    background-repeat: repeat-x;
    position: relative;
}

.testimonial {
    display: inline-block;
    margin-top: 300px;
    margin-left: 200px;
    position: relative;
}

blockquote {
    font-size: 17px;
    font-weight: normal;
    margin-top: 30px;
}

blockquote:before {
    position: absolute;
    left: -16px;
    top: 60px;
    content: '"';
    font-size: 40px;
    color: #ea2c00;
    font-family: 'Noto Sans', sans-serif;
}

blockquote:after {
    position: absolute;
    left: 202px;
    top: 106px;
    content: '"';
    font-size: 40px;
    color: #ea2c00;
    font-family: 'Noto Sans', sans-serif;
}

.quote {
    display: inline-block;
    color: #ea2c00;
    font-size: 18px;
    margin-top: 10px;
}

.profile1 {
    display: inline-block;
    position: absolute;
    right:  235px;
    bottom: 180px;
}

.profile2 {
    display: inline-block;
    position: absolute;
    top: 170px;
    left: -115px;
}

.quote2:before {
    position: absolute;
    left: -16px;
    top: 190px;
    content: '"';
    font-size: 40px;
    color: #ea2c00;
    font-family: 'Noto Sans', sans-serif;
}

.quote2:after {
    position: absolute;
    left: 70px;
    top: 258px;
    content: '"';
    font-size: 40px;
    color: #ea2c00;
    font-family: 'Noto Sans', sans-serif;
}

.contacts {
    display: inline-block;
    position: absolute;
    top: 300px;
    left: 500px;
}

.personal-info {
    margin-top: 25px;
    margin-bottom: 40px;
}

.personal-info  a {
    color: #C03035;
    text-decoration: none;
}

.personal-info a:hover {
    color: #0099ae;
}

.address {
    margin-top: 15px;
}

.message-form {
    display: inline-block;
    position: absolute;
    top: 300px;
    left: 750px;
}

.name {
    border: 1px solid #eaeaea;
    font-weight: 300;
    outline: none;
    box-shadow: none;
    height: 40px;
}

.message-form .textarea {
    width: 335px;
    height: 110px;
    border: 1px solid #eaeaea;
    border-radius: 4px;
    display: block;
    padding: 6px 0 6px 6px;
    font-size: 14px;
    resize: none;
}

.company-design {
    position: absolute;
    top: 720px;
    left: 400px;
    text-align: center;
    color: #fff;
}

.message-form > .name {
    width: 332px;
    display: block;
    position: relative;
    top: 0px;
    right: 0px;
    left: 0px;
    margin-bottom: 15px;
    border: 1px solid #eaeaea;
    height: 40px;
    font-size: 14px;
    border-radius: 4px;

}

.id {
    width: 332px;
    display: block;
    position: relative;
    top: 0px;
    right: 0px;
    left: 0px;
    margin-bottom: 15px;
    border: 1px solid #eaeaea;
    height: 40px;
    font-size: 14px;
    border-radius: 4px;
}


.company-design a {
    text-decoration: none;
    color: #01707f;
}

.id:hover, .message-form > .name:hover, .message-form .textarea:hover {
    border-color: #00AEEF;
}

.submit-btn {
    width: 100%;
    background-color: #4fcccd;
    color: #fff;
    font-size: 14px;
    font-weight: 300;
    letter-spacing: 5px;
    text-transform: uppercase;
    border-radius: 3px;
    margin-top: 5px;
    border-bottom: 3px solid #2f9697;
    box-shadow: none;
    padding: 10px;
}

.submit-btn:hover {
    opacity: 0.8;
}